h1{
    color : white
}
img{
    width : 300px
}
h1{
    font-family : Comic Sans MS
}
h2{
    font-Family : Comic Sans MS;
    color: white;
}
table, td {
    border: 3px solid white;
    color: white;
}
body {
    background: pink;
}
li{
    color: white;
}
ul{
    color: white;
}
th{
    color: white;
}
nav ul li a {
    padding: 10px;
    color: white;
    display: block;
    text-decoration: none;
}
nav ul li {
    display: inline-block;
}
nav ul {
    list-style-type: none;
    margin: 0;
}