h1{
    color : white
}
img{
    width : 300px
}
h1{
    font-family : Comic Sans MS
}
h2{
    font-Family : Comic Sans MS;
    color: white;
}
table, td {
    border: 3px solid white;
    color: white;
}
body {
    background: pink;
}
li{
    color: white;
}
ul{
    color: white;
}
th{
    color: white;
}